
\.classpath

\.project

\.settings/\.jsdtscope

\.settings/

\.tern-project

target/classes/Messages\.properties

target/classes/META-INF/MANIFEST\.MF

target/classes/META-INF/persistence\.xml

target/m2e-wtp/web-resources/META-INF/MANIFEST\.MF

target/m2e-wtp/web-resources/META-INF/maven/py\.com\.owl/owlapp/pom\.properties

target/m2e-wtp/web-resources/META-INF/maven/py\.com\.owl/owlapp/pom\.xml

target/classes/

target/m2e-wtp/web-resources/META-INF/maven/py\.com\.owl/owlapp/pom\.xml

target/m2e-wtp/web-resources/META-INF/MANIFEST\.MF

target/m2e-wtp/web-resources/META-INF/maven/py\.com\.owl/gestionart/pom\.properties

target/m2e-wtp/web-resources/META-INF/maven/py\.com\.owl/owlapp/pom\.properties

target/m2e-wtp/web-resources/META-INF/maven/py\.com\.owl/gestionart/pom\.xml

target/
