<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="page">
<head>
<title>APP</title>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport" />
<link rel="shortcut icon" href="/images/favicon.ico"
	th:href="@{/images/favicon.ico}" type="image/x-icon" />
<script src="../../js/jquery-2.2.3.min.js"
	th:src="@{/js/jquery-2.2.3.min.js}"></script>
<script src="../../js/jquery-ui.js" th:src="@{/js/jquery-ui.js}"></script>
<script src="../../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="../../js/app.min.js" th:src="@{/js/app.min.js}"></script>
<script th:src="@{/js/plugins/dataTables/jquery.dataTables.min.js}"></script>
<link th:href="@{/css/plugins/dataTables.bootstrap.min.css}"
	rel="stylesheet" />
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
	href="../../css/bootstrap.min.css" />
<link href="../../css/font-awesome.min.css"
	th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />
<link rel="stylesheet" th:href="@{/css/AdminLTE.min.css}"
	href="../../css/AdminLTE.min.css" />
<link th:href="@{/css/plugins/responsive.bootstrap.min.css}"
	href="../../css/plugins/responsive.bootstrap.min.css" rel="stylesheet" />
</head>
<body class="hold-transition skin-blue-light sidebar-mini ">

	
	<div class="row">
		<div class="col-lg-4 col-md-4">
			<div th:replace="cliente/cliente_form::contenido"> aqui va un framento de codigo del form </div>
		</div>
		<!-- fin columna 1: Formulario -->



		<div class="col-lg-8 col-md-8">
			<table class="table table-bordered table-hover table-striped display"
				id="clienteDT">
				<thead>
					<tr>
						<th></th>
						<th>CODIGO</th>
						<th>RUC</th>
						<th>Razón Social</th>
						<th>Tipo Cliente</th>
					</tr>
				</thead>
			</table>
		</div>

		<script type="text/javascript">
		
		 $(document).ready(function() {
			 var config={};
			 config['processing'] = true;
			 config['sAjaxSource'] = "[[@{/cliente/json}]]";
			 config['serverSide'] = true;
			 config['columns']= [{'data':'id'}, {'data':'codigo'},{'data':'ruc'}, {'data':'razonSocial'}, 
			        			 {'data':'tipoCliente.nombre'}];
			
			 var dataTable = $('#clienteDT').dataTable(config);
			 //Ocultamos la primera columna (id)
			 dataTable.fnSetColumnVis(0, false);
			 
				 $('#clienteDT tbody').on('click', 'tr', function() {
					 //Obtenemos el valor de la columna id
					 var id = dataTable.fnGetData(this, 0);
					 //Si id no es número, no hacemos nada
					 if (isNaN(id)) {
					 return;
					 }
					
					 window.location.href = "/estudio/cliente/edit/" + id;
				 });
		});
		 </script>
	</div>

	
</body>
</html>
